/* common style */

body {
    background: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background: #FFFFFF;
    Width: 870px;
    padding: 30px;
    margin-top: 36px;
    margin-bottom: 21px;
    border-radius: 5px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}


/* top players css start */
.top-player {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    margin-top: 3px;
    font-size: 24px;

}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;

}

.player {
    display: flex;
    align-items: center;

}

.player img {
    width: 56px;
    height: 56px;

}

.player .top-player-text {
    margin-left: 16px;
    font-Size: 18px;
}

/* top players css end */

/* top blog css start */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
}

.blog {
    display: flex;
}

.thumbnail {
    margin-right: 16px;
}

.blog img {
    width: 177px;
    height: 117px;
}

.bog-title {
    font-size: 20px;
    color: #000000;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* top blog css end */
/* courses css start */
.course {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;

}

.courses {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 13px 21px 16px 12px;
}

.courses-banner img {
    width: 224px;
    height: 104px;
}

.course-title {
    font-weight: 500;
    font-size: 20px;
    margin-top: 19px;
    margin-bottom: 0;
    line-height: 1.6;
    color: #1E1E1E;
}






.course-author {
    font-weight: 400;
    font-size: 14px;
    color: #ED6B4F;
    margin-top: 7px;

}

.course-info {
    display: flex;
    align-items: center;

}

.fa-star {
    font-size: 12px;

}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;

}

.course-info p {
    margin: 0px 30px 0px 10px;
}

.course-duration {
    background: #FFE4E8;
    border-radius: 14.6913px;
    color: #FF4A60;
    font-weight: 600;
    font-size: 14.6913px;
}

.fa-clock {
    margin-right: 5px;
}

/* courses css end */


/*-----------------------
media query
------------------------*/
/* Mobile  device*/
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .course {

        grid-template-columns: repeat(1, 1fr);
    }

    .players,
    .blogs,
    .course {
        flex-direction: column;
        grid-row-gap: 10px;


    }

    .player,
    .blog,
    .courses {
        align-items: center;
        flex-direction: column;
    }




}

/* tablet devices */
@media only screen and (min-width:689px) and (max-width:991px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .course {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
    }
}